## Reading The Data set

In [1]:
df = pd.read_csv("C:/Users/sriharsha/Desktop/data science/data sets/Car dekho car dataset/Car_Dataset - Car_Dataset.csv")
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [2]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [3]:
df.info()#No null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [4]:
df.year.unique()

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992], dtype=int64)

There are no  null values in the dataset

In [ ]:
pd.crosstab(index=df['fuel'],columns=df['seller_type'],margins = True)

seller_type  Dealer  Individual  Trustmark Dealer   All
fuel
CNG               9          31                 0    40
Diesel          529        1576                48  2153
Electric          1           0                 0     1
LPG               1          22                 0    23
Petrol          454        1615                54  2123
All             994        3244               102  4340

##### inferences from the crosstab
1. There is only 1 electric vehicle in the entire data set
2. There 63 vehciles that are running on gas
3. Most of the vehicles are running with Petrol and diesel
4. Most of the sellers are individual in the car dekho platform and there are very few Trustmark Dealers

In [ ]:
pd.crosstab(index=df['fuel'],columns=df['seller_type']).plot(kind='bar',figsize=(8,5))

In [ ]:
pd.crosstab(index=df['fuel'],columns=df['owner'],margins = True,normalize=True)

#### inferences 
1. The Platform Car Dekho is Famous place for first hand and second hand sellers and buyers 
2. There are very few who are trading a new car or a car that is traded more than 4 times

In [ ]:
pd.crosstab(index=df['year'],columns=df['fuel'],margins = True)

In [ ]:

pd.crosstab(index=df['year'],columns=df['fuel']).plot(kind='bar',figsize = (12,8))

#### inferences:
1. Till 1997 the number of cars traded were in single digit
2. from 1995 to 2010 the no. of petrol cars were more in number when compared with diesel cars or anyother
3. Gas (CNG/LPG) were started to raise from the year 2005.
4. Diesel cars were quit dominating between the years 2011-2016

In [ ]:
plt.figure(figsize=(10,6))
sns.regplot(x=df['km_driven'],y = df['selling_price'],marker='o')

## ** As The kilometers increases the selling price is decreasing

In [ ]:
pd.crosstab(index=df['transmission'],columns=df['fuel'],margins = True)

### Making every categorical object into Numerical(int) data

In [ ]:
df.owner.value_counts()

In [ ]:
df.owner.replace(['First Owner', 'Second Owner', 'Fourth & Above Owner','Third Owner', 'Test Drive Car'],[1,2,4,3,0],inplace=True)

In [ ]:
df.transmission.value_counts()

In [ ]:
df.transmission.replace(['Manual','Automatic'],[0,1],inplace=True)

In [ ]:
df.seller_type.unique()

In [ ]:
df.seller_type.replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)

In [ ]:
df.fuel.unique()

In [ ]:
df.fuel.replace(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'],[1,2,3,4,5],inplace=True)

In [ ]:
df.fuel.replace([1,2,3,4,5],[1,2,3,3,5],inplace = True)

In [ ]:
df.drop(df[df['fuel']==5].index,inplace=True)

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize=(12,8))
plt.pie(df['transmission'].value_counts(),labels=['Manual','Automatic'],explode=[0.2,0],shadow = True,autopct='%.1f%%')
plt.legend()
plt.title("Mode of Transmission of Vehicle")

In [ ]:
df.columns

## Outlier Detection And Treatment

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x = df['year'],y = df['km_driven'])

In [ ]:
df.drop(df[df['year']<=1995].index,inplace=True)

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x = df['year'],y = df['km_driven'])

In [ ]:
sns.distplot(df['km_driven'])#Not Normalized data

In [ ]:
#Since there is normalized distribution check for outliers
sns.boxplot(df['km_driven'])
#There are some outliers on upper side from box plot which is more than max limit

In [ ]:
df.describe()

In [ ]:
df.km_driven.quantile(0.95)

In [ ]:
(df.km_driven>140000).sum()

In [ ]:
df[df.km_driven>140000].index

In [ ]:
df.drop(df[df.km_driven>140000].index,inplace = True)

In [ ]:
sns.distplot(df['km_driven'])#Now distribution is Normalized in a better way

In [ ]:
df.corr()

In [ ]:
sns.distplot(df['selling_price'])#right skewed data not normalized

In [ ]:
sns.boxplot(df['selling_price'])

In [ ]:
df.selling_price.quantile(0.95)

In [ ]:
(df['selling_price']>1300000.0).sum()

In [ ]:
df[df['selling_price']>1300000.0].index

In [ ]:
df.drop(df[df['selling_price']>1000000.0].index,inplace = True)

In [ ]:
sns.boxplot(df['selling_price'])

In [ ]:
df.shape

In [ ]:
sns.distplot(df['selling_price'])

In [ ]:
df.describe()

In [ ]:
from sklearn.preprocessing import Normalizer
mms = Normalizer()

In [ ]:
#kk = mms.fit(df[['selling_price']])

In [ ]:
#df[['selling_price']]=kk.transform(df[['selling_price']])

#### Target variable-----> Selling Price

In [ ]:
sns.distplot(df['selling_price'])

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.corr(),annot=True)

In [ ]:
df.columns

In [ ]:
x= df[['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner']]
y = df['selling_price']

# Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
trainx,testx,trainy,testy = train_test_split(x,y,test_size=0.20)

# Linear Regressor

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize=True)

In [ ]:
lr.fit(trainx,trainy)

In [ ]:
yp = lr.predict(testx)

In [ ]:
from sklearn.metrics import r2_score

r2_score(testy,yp)

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(testy,yp)
mae

In [ ]:
100-mae*100

# Random Forest regrssor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rgt = RandomForestRegressor(random_state=2,n_jobs=10)

In [ ]:
rgt.fit(trainx,trainy)

In [ ]:
yprgt = rgt.predict(testx)

In [ ]:

ma = mean_absolute_error(testy,yprgt)
ma

In [ ]:
100-ma*100 #accuracy

In [ ]:
r2_score(testy,yprgt)

# Decision Tree Regressor

In [ ]:
from sklearn.tree import  DecisionTreeRegressor

In [ ]:
bb = DecisionTreeRegressor(random_state=2)

In [ ]:
bb.fit(trainx,trainy)

In [ ]:
ypb = bb.predict(testx)

In [ ]:
r2_score(testy,ypb)

In [ ]:
m = mean_absolute_error(testy,ypb)

In [ ]:
100-m*100